<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <twint_regular translate="title" module="Twint_Magento">
                <active>1</active>
                <payment_action>authorize</payment_action>
                <model>Twint\Magento\Model\Method\TwintRegularMethod</model>
                <order_status>pending</order_status>
                <title>TWINT</title>
                <currency>CHF</currency>
                <allowspecific>0</allowspecific>
                <can_athorize>1</can_athorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <can_refund_invoice_partial>1</can_refund_invoice_partial>
                <sort_order>1</sort_order>
                <group>twint</group>
            </twint_regular>

            <twint_express translate="title" module="Twint_Magento">
                <active>1</active>
                <payment_action>capture</payment_action>
                <model>Twint\Magento\Model\Method\TwintExpressMethod</model>
                <order_status>processing</order_status>
                <title>TWINT express</title>
                <currency>CHF</currency>
                <allowspecific>0</allowspecific>
                <can_athorize>1</can_athorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_use_checkout>0</can_use_checkout>
                <can_refund_invoice_partial>1</can_refund_invoice_partial>
                <sort_order>2</sort_order>
                <group>twint</group>
            </twint_express>
        </payment>
    </default>
</config>
