<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Data\Form\FormKey\Validator" type="Twint\Magento\Validator\FormKeyValidator"/>
    <preference for="Twint\Magento\Api\PairingRepositoryInterface" type="Twint\Magento\Model\PairingRepository"/>
    <preference for="Twint\Magento\Api\PairingHistoryRepositoryInterface"
                type="Twint\Magento\Model\PairingHistoryRepository"/>
    <preference for="Twint\Magento\Api\RequestLogRepositoryInterface" type="Twint\Magento\Model\RequestLogRepository"/>

    <type name="Magento\Sales\Model\Order\Payment\Operations\AuthorizeOperation">
        <plugin name="twint_magento_authorize_plugin" type="Twint\Magento\Plugin\AuthorizeOperationPlugin" />
    </type>

    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routers" xsi:type="array">
                <item name="twint" xsi:type="array">
                    <item name="class" xsi:type="string">Magento\Framework\App\Router\Base</item>
                    <item name="frontName" xsi:type="string">twint</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\GridPool">
        <arguments>
            <argument name="grids" xsi:type="array">
                <item name="twint_grid" xsi:type="object">Twint\Magento\Model\ResourceModel\Order\Pairing\Grid</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Twint\Magento\Model\ResourceModel\Order\Pairing\Grid"
                 type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="mainTableName" xsi:type="string">twint_pairing</argument>
            <argument name="gridTableName" xsi:type="string">twint_pairing_grid</argument>
            <argument name="orderIdField" xsi:type="string">twint_pairing.order_id</argument>
            <argument name="joins" xsi:type="array">
                <item name="twint_pairing_history" xsi:type="array">
                    <item name="table" xsi:type="string">twint_pairing_history</item>
                    <item name="origin_column" xsi:type="string">id</item>
                    <item name="target_column" xsi:type="string">parent_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="id" xsi:type="string">twint_pairing.id</item>
                <item name="amount" xsi:type="string">twint_pairing.amount</item>
                <item name="status" xsi:type="string">twint_pairing.status</item>
                <item name="pairing_status" xsi:type="string">twint_pairing.pairing_status</item>
                <item name="transaction_status" xsi:type="string">twint_pairing.transaction_status</item>
                <item name="created_at" xsi:type="string">twint_pairing.created_at</item>
                <item name="updated_at" xsi:type="string">twint_pairing.updated_at</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_view_pairing_grid_data_source" xsi:type="string">Twint\Magento\Model\ResourceModel\Pairing\Grid\Collection</item>
                <item name="pairing_history_grid_data_source" xsi:type="string">Twint\Magento\Model\ResourceModel\PairingHistory\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
