<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="twint_regular_config_provider" xsi:type="object">Twint\Magento\Provider\RegularConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Twint\Magento\Block\Frontend\Express\Screen\Flyout\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Twint_Magento::express/button-minicart.phtml</item>
                <item name="alias" xsi:type="string">twint.express.mini-cart</item>
            </argument>
        </arguments>
    </type>

    <type name="Twint\Magento\Block\Frontend\Express\Screen\Cart\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Twint_Magento::express/button-cart.phtml</item>
                <item name="alias" xsi:type="string">twint.express.cart</item>
            </argument>
        </arguments>
    </type>

    <type name="Twint\Magento\Block\Frontend\Express\Screen\Category\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Twint_Magento::express/button-in-box.phtml</item>
                <item name="alias" xsi:type="string">twint.express.box</item>
            </argument>
        </arguments>
    </type>

</config>
