.twint-button {
  width: max-content;
  min-width: 100%;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none !important;
  border-radius: 6px;
  height: 52px;
  background-color: #262626 !important;
  transition: background-color 0.3s ease;
  color: white !important;

  &:disabled {
    background-color: #9E9E9E !important;
  }

  &:hover {
    background-color: #3d3d3d !important;
  }

  .icon-block {
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px;
  }

  &:disabled .icon-block {
    background-color: #9E9E9E;
  }

  .twint-icon {
    width: 35px;
    height: 35px;
  }

  &.pdp{
    @apply my-2;
    @media (min-width: 1024px) {
      & {
        width: 49%;
        min-width: auto;
        @apply my-0;
      }

      .twint-label {
        &:before {
          @container (width < 526px) {
            & {
              content: none;
            }
          }
        }
      }
    }
  }

  &.box {
    height: auto;
    padding: 3px 10px;
    font-size: inherit;

    position: absolute;
    left: 0;
    bottom: 0;

    .products-list & {
      width: auto;
    }

    .icon-block {
      height: 30px;
      padding: 1px;
    }

    .twint-icon {
      width: 30px;
      height: 30px;
    }

    .twint-label {
      font-size: inherit;
    }
  }

  .twint-label {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.43px;
    text-align: center;
    color: #ffffff !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:before {
      content: "TWINT ";

      @container (width < 258px) {
        & {
          content: none;
        }
      }
    }
  }

  *:has(+ &) {
    margin-bottom: 0 !important;
  }

  *:has(> &.express:not(.box)) {
    container-type: inline-size;
  }

  .product-item-actions:has(&.express.box) {
    position: relative;
    padding-bottom: 45px;
    container-type: inline-size;
  }
}
